@font-face {
    font-family: 'Nerko One', cursive;
    src: url('../fonts/NerkoOne-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NerkoOne-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/NerkoOne-Regular.woff') format('woff2'), /* Super Modern Browsers */
         url('../fonts/NerkoOne-Regular.woff2') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/NerkoOne-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/NerkoOne-Regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/Poppins-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Poppins-Medium.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Poppins-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Poppins-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Poppins-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Poppins-Medium.svg') format('svg'); /* Legacy iOS */
}